
    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #f4f4f4;
      color: #333;
      line-height: 1.6;
    }

    .main-bar {
      border-bottom:1px solid #a0a0a04d ;
      padding-left: 50px;
    }
    .main-bar h5{
      letter-spacing: 0.2rem;
    }

    .container {
      display: flex;
      max-width: 1400px;
      margin: 50px auto;
    }

    /* LEFT COLUMN */
    .left-column {
      flex: 1;
      text-align: left;
      padding: 20px;
      border: 1px solid #a0a0a04d;
    }

    .left-column P{
      border-BOTTOM: 1px solid #a0a0a04d;
      padding:10px 0px ;
    }

    .left-column img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .left-column h1 {
      margin: 10px 0 5px 0;
      font-size: 28px;
      font-weight: bold;
      color:#3c3b3b;
    }
    .org-title h4 {
      color:#3c3b3b !important;
      margin: 0;
      
    }

    .org-title{
    border-BOTTOM: 1px solid #a0a0a04d;
    padding: 10px 0px;
    }

    .left-column a {
      display: block;
      color: #555;
      text-decoration: none;
      margin: 5px 0;
      font-weight: bold;
    }
    .org-title 

    .left-column a:hover {
      text-decoration: underline;
    }

    /* RIGHT COLUMN */
    .right-column {
      flex: 2;
      padding: 20px 40px;
      background-color: #fff;
    }

    .section {
      margin-bottom: 40px;
    }

    .section h2 {
      font-size: 22px;
      color: #035AA6;
      margin-bottom: 10px;
      border-left: 4px solid #035AA6;
      padding-left: 10px;
    }

    .section p {
      font-size: 16px;
      margin: 0;
      color:#646464;
    }

    /* Responsive */
    @media(max-width: 900px) {
      .container {
        flex-direction: column;
      }
      .left-column, .right-column {
        text-align: center;
        padding: 20px;
      }
      .section h2 {
        border-left: none;
        padding-left: 0;
      }
    }
